.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    transition: border-color 0.5s ease;
    position: relative;
    border: 2px solid transparent;
    background-color: var(--white-cell-color);

    &[color_type="black"] {
        background-color: var(--black-cell-color);
    }

    &:hover {
        border-color: white;
    }

    &.underlined {
        background-color: rgb(var(--cell-underline), 0.7);
    }

    &.underlined[color_type="white"] {
        background-color: rgb(var(--cell-underline), 0.5);
    }
}

.point {
    width: 12px;
    height: 12px;
    background: var(--active-color);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

