:root {
    --white-cell-color: #e8edf9;
    --black-cell-color: #b7c0d8;
    --active-color: #b1a6fc;
    --board-border-color: #e8edf9;
    --cell-underline: 158, 64, 64;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
